/shop-monitor/build/
/shop-monitor/dist/
/stock-monitor/stock-monitor-core/nbproject/private/
/stock-monitor/stock-monitor-mssql/nbproject/private/
/stock-monitor/stock-monitor-swing/nbproject/private/
/stock-monitor/stock-monitor-app/nbproject/private/
/stock-monitor/stock-admin-app/nbproject/private/
/stock-monitor/stock-admin-core/nbproject/private/
/stock-monitor/stock-monitor-swing/dist/
/stock-monitor/stock-monitor-swing/build/
/stock-monitor/stock-admin-core/build/
/stock-monitor/stock-admin-core/dist/
/stock-monitor/stock-admin-app/build/
/stock-monitor/stock-admin-app/dist/
/stock-admin-app/build/
/stock-admin-app/dist/
/stock-admin-app/nbproject/private/
/stock-monitor/nbproject/private/
/stock-monitor/build/
/stock-monitor/dist/
/stock-monitor/database/nbproject/private/
/stock-monitor/sql/nbproject/private/
/stock-monitor/core/nbproject/private/
/stock-monitor/sql/build/
/swing/swing/nbproject/private/
/stock-monitor/swing/swing/nbproject/private/
/stock-admin/core/nbproject/private/
/stock-admin/sql/build/
/stock-admin/sql/nbproject/private/
/stock-admin/swing/swing/nbproject/private/
/stock-monitor/swing/nbproject/private/
/stock-admin/swing/nbproject/private/
/stock-admin/app/nbproject/private/
/stock-admin/core/build/
/stock-admin/core/dist/
/stock-admin/app/build/
/stock-admin/sql/dist/
/stock-admin/app/dist/
/stock-admin/admin/nbproject/private/
/stock-admin/admin/build/
/stock-admin/admin/dist/
/casaviva-marketing/nbproject/private/
/casaviva-marketing/build/
/casaviva-marketing/dist/
casaviva-marketing/config.properties
